{% extends "base.html" %}
{% block content %}
<h4 style="margin-top:3%;">URL submitted: <a href="{{ input_url }}"></a> with a depth of {{ depth }}</h4>
<p> Time taken to load {{ landing_page['load_page_time'] }} </p>

<h4> Hierarchy </h4>
<pre> {{ hierarchy_pprint }} </pre>

<img src="static/{{landing_page['index']}}/local_vs_nonlocal.png" class="img-fluid" alt="Local and non-local links"
     width="500" height="500">
<img src="static/{{landing_page['index']}}/tag_counts.png" class="img-fluid" alt="Tag counts on page"
     width="500" height="500">
<img src="static/{{landing_page['index']}}/load_times.png" class="img-fluid" alt="Time taken to load images and content"
     width="500" height="500">
<img src="static/{{landing_page['index']}}/lang_counts.png" class="img-fluid" alt="Language tags on page"
     width="500" height="500">

{% endblock %}