{% extends "base.html" %}
{% block content %}
<h1 style="text-align:center; margin-top:10%;">Welcome to SiteCheck!</h1>
<h3 style="text-align:center; margin-top:3%;">A tool to help you maintain your website from A to Z. It automatically
    checks your websites for broken links, missing images, and other issues.</h3>

<div class="container-sm">
    <form method="post" style="margin-top:5%;" action="{{ url_for('dashboard') }}">
        <div class="form-group">
            <label style="margin-top:3%;" for="input_url">URL</label>
            <input type="text" class="form-control" name="input_url" id="input_url" style="margin-top:0.5%;"
                   placeholder="Enter the URL to be crawled">
            <label style="margin-top:3%;" for="depth">Depth</label>
            <input type="text" class="form-control" name="depth" id="depth" style="margin-top:0.5%;"
                   placeholder="Enter the depth">
            <input type="hidden" class="form-control" name="selected_option" id="selected_option" value="0"
                   style="margin-top:0.5%;">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top:2%;">Submit</button>
    </form>
</div>
{% endblock %}